python_api/.idea/
python_api/*/__pycache__/
kotlin_api/.idea/
kotlin_api/.gradle/
kotlin_api/build/
kotlin_api/out/
java_api/.idea/
java_api/.gradle/
java_api/build/
web_app/.idea/
web_app/node_modules/
mobile_app/.idea/